<section class="px-3 px-sm-0">

    <div class="container my-5">

        {{#each classData}}
        <div class="row bg-white class-card my-4">
            <div class="col-sm-4 p-0">
                <a href="/class/{{this.class}}">
                <img src="images/thumbs/class{{this.class}}/classthumb.jpg" class="img-fluid class-card-img" alt="">
                </a>
            </div>

            <div class="col-sm-8">
                <a href="/class/{{this.class}}" class="text-decoration-none text-dark">
                <p class="font-weight-bold h3">Class {{this.class}}</p>
                </a>
                <p class="text-warning">{{this.subjectsCount}} subjects</p>
            </div>
        </div>
        {{/each}}

    </div>

    <script>
        
    </script>

</section>